/* ===== Reset básico ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Secciones ===== */
section {
  display: none; /* Todas ocultas por defecto */
  width: 100%;
  min-height: 100vh; /* Para ocupar pantalla completa si quieres */
  padding: 20px;

    transform: translateX(100%);
  opacity: 0;
  transition: all 0.4s ease;
}

/* Sección activa */
section.active {
  display: block;
    transform: translateX(0);
  opacity: 1;
}
